// Global default params, used in configs
params {
    // optional file paths [optional input](https://nextflow-io.github.io/patterns/optional-input/)
    params.atac_file = "$projectDir/assets/NO_FILE"
    params.gwas_path = "$projectDir/assets/NO_FILE"

    // other default values
    params.gene_chunk_size = 100
    params.tss_file = "tss_cell_type_exp.txt.gz"
    params.cell_types = "tss_cell_type_exp.txt"  // TODO: simplify, the file is only used for the header
    params.broad_fine_mapping = "broad_fine_mapping.tsv"  // TODO: make optional
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs --nv'
}

process {
  
  container = '/nfs/cellgeni/singularity/images/ADD-NEW-IMAGE.sif'  // <-- Create and add the path to the singularity image

  errorStrategy = 'retry'
  maxRetries    = 5

  withName: run_LDSC {
    cpus = 2
    memory = { 20.GB * task.attempt }
    queue = "week"
    maxForks = 10
  }

  withName: collect_LDSC {
    cpus = 2
    memory = { 10.GB * task.attempt }
    queue = "long"
    maxForks = 10
  }

  withName: run_HM {
    cpus = 2
    memory = { 100.GB * task.attempt }
    queue = "normal"
    maxForks = 10
  }

  withName: plot_forest {
      cpus = 2
      memory = { 500.MB * task.attempt }
      queue = "small"
      maxForks = 10
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   overwrite = true
   file = "fgwas-reports-${params.project_tag}/timeline.html"
}

report {
   enabled = true
   overwrite = true
   file = "fgwas-reports-${params.project_tag}/report.html"
}

trace {
   enabled = true
   overwrite = true
   file = "fgwas-reports-${params.project_tag}/trace.txt"
}